body {
	font-family: 'Google Sans', sans-serif;
	margin: 40px
  }
  
  multi-input {
	display: inline-block;
	margin: 0 20px 20px 0;
  }
  
  button {
	background-color: #eee;
	border: 1px solid #ddd;  
	font-size: 16px;
	height: 30px;
	margin: 0 10px 20px 0;
  }
  
  body > div {
	align-items: center;
	display: flex;
	justify-content: center;
  }
  
  label {
	display: block;
	margin: 0 20px 20px 0;
  }
  
  p {
	text-align: center;
  }

  #scores {
	display: block;
	margin-left: 200px;
  }

  .max-act {
	font-weight: bold;
  }

  .items {
	display: flex;
  }

  .all-bools {
	display: inline-flex;
	margin-bottom: 10px;
  }

  .one-bool {
	margin: 0 60px 0px 0;
  }